@model IEnumerable<CitiesTime.WebUI.Models.LogViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Log of requested Time</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedTime)
        </td>
    </tr>
}

</table>
<br />
<br />
@Html.ActionLink("Back to Home","Index","City")
